.appbar {
    background: #f9f9f9;
    color: #737373;

    .navBarTitle {
        &:hover {
            color: #404040;
        }
    }

    .menuItem {
        color: #737373;
        font-weight: 400;

        &:hover {
            color: #404040;
            background: #ededed;
        }
    }
}
